


body {
    background-color:  #fffbf7
}
/* # es para estilos de id */
#cabecera {
    color: #025157;
}

/* . es para estilos de clase */
.simpleParagraph {
    color: #46484c
}

.promotional {
    color: #8b8b8bcc;
}

#formButton {
    color:#fffbf7;
    background-color: #025157
}